/*Universal*/
body {
  font-family: helvetica;
  font-size: 22px;
  background-color:black;
  color:seashell;
  opacity: 0.9;
}


/*header*/
header {
  display: flex;
  z-index:1;
  position: fixed;
  top:-5px;
  width:100%;
  height:69px;
  border-bottom: 1px solid seashell;
  background-color: black;


 }

 header img {
   padding: 10px;
   height: 50px;
   width: 70%;
   }

   nav span {
     display: inline-block;
     padding: 20px 10px;

   }
 .bleh {
   position: fixed;
   display:inline-block;
   text-align: right;
   width: 100%;

 }

/*Large*/

.large {
  text-align: center;
}

.mission{
  position: absolute;
  text-align: center;
  border: 1px solid black;
  width:1350px;
  top: 40%;
  background-color: black;
}

/*Medium*/



.month {
  Color white;
  text-align: center;
}
.image  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  padding: 20px;

}

.berryblitz {
  display: inline-block;
  padding-top: 10px;
  padding-left: 22%;
  text-align: left;
  justify-content: space-between;
}

.tea {
  display: inline;
  padding-top: 10px;
  padding-left: 9%;
  text-align: center;
  justify-content: space-between;

}

.donut {
    display: inline;
    padding-top: 10px;
    padding-right: 20%;
    text-align: center;
    justify-content: space-between;
    padding-left: 9%
}

.image2 {
  justify-content: space-between;
  padding: 10px;
  text-align: center;
}

.myrtle {
  display: inline;
  padding-left: 33%;
  padding-top: 10px;

}

.bedford {
  display: inline;
  padding-left: 10%;
  padding-top: 10px;
}
